.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  background-color: #1c0f4b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.App-button:hover {
  background-color: #419760;
}

.App-button:active {
  transition-duration: 100ms;
  transform: translateY(5px);
}

.App-textarea {
  margin-top: 20px;
  width: 40%;
  height: 200px;
  font-size: 20px;
  resize: none;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 11.5vh;
  background-color: #0c6b6e;
  color: #419760;
  color: white;
  text-align: bottom;
  font-size: 16px;
  padding: 10px 0;
}

a {
  transition-duration: 100ms;
  color: #20d535;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  font-size: 22px;
  color: #63ed18;
}